:root {
  /* ## Colors */

  /* ### Primary */

  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);

  /* ### Neutral */

  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.image {
  max-width: 100%;
  display: block;
}

.nav-bar {
  position: relative;
  padding: 0 5%;
  /* width: 100%; */
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
}

.nav-bar .logo {
}

.nav-bar .logo.white {
  position: absolute;
  left: 5%;
  opacity: 0;
  visibility: hidden;
}

.nav-bar .nav-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 12px 5%;
  width: 100%;
  height: 88vh;
  color: white;
  text-align: center;
  text-transform: uppercase;
  /* line-height: 2; */
  background-color: hsl(229, 31%, 21%, 0.9);
  display: none;
}

.nav-menu li {
  padding: 16px 0;
  border-top: thin solid var(--grayish-blue);
}

.nav-menu .menu-link {
  display: block;
  font-size: 20px;
}

.nav-menu .login {
  margin-top: 3px;
  padding: 10px 0;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 6px;
}

.nav-menu .social-box {
  position: absolute;
  left: 0;
  bottom: 40px;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border: none;
}

.social-box .icon {
  width: 24px;
}

.ham-btn {
  position: relative;
  display: flex;
  align-items: center;
  /* padding: 0; */
  background-color: transparent;
}

.ham-btn img {
  width: 20px;
}

.ham-btn .ham-icon {
  /* width: 20px; */
}

.ham-btn .close-icon {
  position: absolute;
  left: 6px;
  width: 20px;
  opacity: 0;
}

.header-container {
  padding: 40px 5% 120px 5%;
  text-align: center;
  overflow: hidden;
}

.header-container .image-box {
  position: relative;
  margin: 0 0 48px 0;
}

.rounded-rectangle {
  position: absolute;
  top: 24%;
  left: 18%;
  width: 100%;
  height: 76%;
  background-color: var(--soft-blue);
  border-radius: 240px 0 0 240px;
  z-index: -10;
}

.title {
  color: var(--very-dark-blue);
  font-weight: 500;
}

.paragraph {
  margin-bottom: 36px;
  color: var(--grayish-blue);
}

.btn-box {
  display: flex;
  /* justify-content: center; */
  gap: 4%;
}

.btn {
  padding: 16px 1%;
  color: var(--very-dark-blue);
  font-size: 0.8em;
  font-weight: 500;
  background-color: hsla(229, 8%, 60%, 0.1);
  border-radius: 6px;
}

.btn.getchrome-btn {
  width: 100%;
  color: white;
  background-color: var(--soft-blue);
}

.btn.getfirefox-btn {
  width: 100%;
  box-shadow: 0 4px 6px 0 hsla(229, 8%, 60%, 0.6);
}

.features-section {
  padding: 0 5%;
  text-align: center;
}

.features-section .paragraph {
  margin-bottom: 36px;
}

.features-section .features-menu {
  margin-bottom: 72px;
  border: thin solid var(--grayish-blue);
  border-left: none;
  border-right: none;
}

.features-menu .feature-option {
  padding: 0;
  padding-top: 16px;
  width: 100%;
  color: var(--grayish-blue);
  background-color: transparent;
  /* border-top: thin solid var(--grayish-blue);
  border-bottom: thin solid var(--grayish-blue); */
}

.features-menu li:nth-child(even) {
  border: thin solid var(--grayish-blue);
  border-left: none;
  border-right: none;
}

.features-menu .line-btn {
  margin: 16px auto 0 auto;
  width: 40%;
  /* height: 4px; */
  /* padding: 16px 0; */
  /* background-color: var(--soft-red); */
  border-bottom: 4px solid var(--soft-red);
}

.features-section {
  margin-bottom: 240px;
}

.features-section .articles-box {
  position: relative;
}

.features-section .feature1-article {
  opacity: 0;
}

.features-section .feature2-article {
  position: absolute;
  top: 0;
  opacity: 0;
}

.features-section .feature3-article {
  position: absolute;
  top: 0;
}

.features-section .image-box {
  position: relative;
  margin: 0 0 80px 0;
}

.features-section .left-rounded-rectangle {
  position: absolute;
  top: 18%;
  left: -6%;
  width: 100%;
  height: 100%;
  background-color: var(--soft-blue);
  border-radius: 0 240px 240px 0;
  z-index: -15;
}

.features-section .moreinfo-btn {
  width: 100%;
  color: white;
  background-color: var(--soft-blue);
}

.download-section {
  padding: 0 5% 120px 5%;
  text-align: center;
}

.download-section .articles-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.download-section .browser-article {
  padding: 48px 5% 24px 5%;
  background: url(../images/bg-dots.svg);
  background-repeat: no-repeat;
  background-size: 100% 8px;
  background-position: center bottom 96px;
  border-radius: 12px;
  box-shadow: 0 4px 6px 0 hsla(229, 8%, 60%, 0.6);
}

.download-section > .paragraph {
  margin-bottom: 40px;
}

.browser-article .paragraph {
  margin-bottom: 62px;
}

.download-section .addext-btn {
  width: 100%;
  color: white;
  background-color: var(--soft-blue);
}

.questions-section {
  padding: 0 5% 120px 5%;
  text-align: center;
}

.questions-section .list-questions {
  margin-bottom: 40px;
  text-align: left;
  color: var(--very-dark-blue);
}

.list-questions button {
  padding: 16px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  color: var(--very-dark-blue);
  background-color: transparent;
}

.list-questions .question-box {
  border-bottom: thin solid var(--grayish-blue);
}

.question-box .material-icons {
  color: var(--soft-blue);
}

.questions-section .moreinfo-btn {
  width: 28%;
  color: white;
  background-color: var(--soft-blue);
}

.email-section {
  padding: 60px 5%;
  text-align: center;
  color: white;
  background-color: var(--soft-blue);
}

.email-section .title {
  color: white;
}

.form-box .email-input,
.form-box .contact-btn {
  width: 100%;
}

.form-box .email-input {
  margin-bottom: 16px;
  padding: 16px 5%;
  color: var(--grayish-blue);
  border: none;
  border-radius: 6px;
  outline: none;
}

.form-box .contact-btn {
  color: white;
  background-color: var(--soft-red);
}

footer {
  padding: 40px 0;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: var(--very-dark-blue);
}

footer .footer-menu {
  line-height: 2;
}

footer .social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-container i {
  font-size: 28px;
}
