:root {
  /* ## Colors */

  /* ### Primary */

  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);

  /* ### Neutral */

  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.image {
  max-width: 100%;
  display: block;
}

.nav-bar {
  position: relative;
  padding: 0 5%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: all 300ms;
}

.nav-bar.clicked {
  background-color: hsla(229, 31%, 21%, 0.9);
}

.nav-bar .logo {
  transition: all 300ms;
}

.nav-bar .logo-white {
  position: absolute;
  left: 5%;
  opacity: 0;
  visibility: hidden;
}

.nav-bar .logo-white.clicked {
  opacity: 1;
  visibility: visible;
}

.nav-bar .nav-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 12px 5%;
  width: 100%;
  height: 88vh;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background-color: hsla(229, 31%, 21%, 0.9);
  opacity: 0;
  visibility: hidden;
  z-index: 15;
  transition: all 300ms;
}

.nav-bar .nav-menu.show {
  opacity: 1;
  visibility: visible;
}

.nav-menu li {
  padding: 16px 0;
  border-top: thin solid var(--grayish-blue);
}

.nav-menu .menu-link {
  display: block;
  font-size: 20px;
}

.nav-menu .login {
  margin-top: 3px;
  padding: 10px 0;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 6px;
}

.nav-menu .social-box {
  position: absolute;
  left: 0;
  bottom: 40px;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border: none;
}

.social-box .icon {
  width: 28px;
}

.ham-btn {
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.ham-btn img {
  width: 24px;
}

.ham-btn .ham-icon {
  opacity: 1;
  transition: all 300ms;
}

.ham-btn .ham-icon.clicked {
  opacity: 0;
}

.ham-btn .close-icon {
  position: absolute;
  left: 6px;
  width: 20px;
  opacity: 0;
  transition: all 300ms;
}

.ham-btn .close-icon.clicked {
  opacity: 1;
}

.header-container {
  padding: 40px 5% 120px 5%;
  text-align: center;
  overflow: hidden;
}

.header-container .image-box {
  position: relative;
  margin: 0 0 48px 0;
}

.rounded-rectangle {
  position: absolute;
  top: 24%;
  left: 18%;
  width: 104%;
  height: 76%;
  background-color: var(--soft-blue);
  border-radius: 240px 0 0 240px;
  z-index: -10;
}

.title {
  color: var(--very-dark-blue);
  font-weight: 500;
}

.paragraph {
  margin-bottom: 36px;
  color: var(--grayish-blue);
}

.btn-box {
  display: flex;
  gap: 4%;
}

.btn {
  padding: 16px 1%;
  color: var(--very-dark-blue);
  font-size: 0.8em;
  font-weight: 500;
  border: 1px solid transparent;
  background-color: hsla(229, 8%, 60%, 0.1);
  border-radius: 6px;
  transition: all 300ms;
}

.btn.type1 {
  width: 100%;
  color: white;
  background-color: var(--soft-blue);
}

.btn.type1:hover,
.btn.type1:focus {
  color: var(--soft-blue);
  border-color: inherit;
  background-color: white;
}

.btn.getfirefox-btn {
  width: 100%;
  box-shadow: 0 4px 6px 0 hsla(229, 8%, 60%, 0.6);
}

.btn.getfirefox-btn:hover,
.btn.getfirefox-btn:focus {
  border-color: inherit;
  background-color: white;
  box-shadow: none;
}

.features-section {
  margin-bottom: 240px;
  padding: 0 5%;
  text-align: center;
}

.features-section .paragraph {
  margin-bottom: 36px;
}

.features-section .features-menu {
  margin-bottom: 72px;
  border: thin solid var(--grayish-blue);
  border-left: none;
  border-right: none;
}

.features-menu li:nth-child(even) {
  border: thin solid var(--grayish-blue);
  border-left: none;
  border-right: none;
}

.feature-option {
  padding: 0;
  padding-top: 16px;
  width: 100%;
  color: var(--grayish-blue);
  background-color: transparent;
  transition: all 300ms;
}

.feature-option:hover {
  color: var(--soft-red);
}

.feature-option.clicked {
  color: var(--very-dark-blue);
}

.line-btn {
  margin: 12px auto 0 auto;
  width: 40%;
  border-bottom: 4px solid transparent;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  transition: all 300ms;
}

.line-btn.clicked {
  border-color: var(--soft-red);
  animation-name: linea-animacion;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

.features-section .articles-box {
  position: relative;
}

.features-section .f-article:not(.feature1-article) {
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms;
}

.features-section .feature1-article {
  opacity: 0;
  visibility: hidden;
  transition: all 300ms;
}

.features-section .f-article.show {
  opacity: 1;
  visibility: visible;
}

.features-section .image-box {
  position: relative;
  margin: 0 0 80px 0;
}

.features-section .left-rounded-rectangle {
  position: absolute;
  top: 18%;
  left: -6%;
  width: 100%;
  height: 100%;
  background-color: var(--soft-blue);
  border-radius: 0 240px 240px 0;
  z-index: -15;
}

.download-section {
  padding: 0 5% 120px 5%;
  text-align: center;
}

.download-section > .paragraph {
  margin-bottom: 40px;
}

.download-section .articles-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.download-section .browser-article {
  height: 374px;
  padding: 48px 5% 24px 5%;
  background: url(../images/bg-dots.svg);
  background-repeat: no-repeat;
  background-size: 100% 8px;
  background-position: center bottom 96px;
  border-radius: 12px;
  box-shadow: 0 4px 6px 0 hsla(229, 8%, 60%, 0.6);
}

.browser-article .paragraph {
  margin-bottom: 62px;
}

.questions-section {
  padding: 0 5% 120px 5%;
  text-align: center;
}

.questions-section .list-questions {
  margin-bottom: 40px;
  text-align: left;
  color: var(--very-dark-blue);
}

.list-questions .question-box {
  border-bottom: thin solid var(--grayish-blue);
}

.list-questions button {
  padding: 16px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  color: var(--very-dark-blue);
  background-color: transparent;
  transition: all 300ms;
}

.list-questions button:hover {
  color: var(--soft-red);
}

.question-box .material-icons {
  font-size: 28px;
  color: var(--soft-blue);
  font-weight: bold;
  transition: all 300ms;
}

.question-box .arrow-icon.rotate {
  color: var(--soft-red);
  transform: rotate(-180deg);
}

.question-box p {
  margin: 0;
  height: 0;
  color: var(--grayish-blue);
  overflow: hidden;
  transition: all 400ms;
}

.questions-section .btn {
  width: 30%;
}

.email-section {
  padding: 60px 5%;
  text-align: center;
  color: white;
  background-color: var(--soft-blue);
}

.email-section .title {
  color: white;
}

.form-box .input-box {
  position: relative;
  margin-bottom: 16px;
  border-radius: 6px;
  transition: all 300ms;
}

.form-box .input-box.show {
  padding: 4px;
  background-color: var(--soft-red);
}

.form-box .email-input,
.form-box .contact-btn {
  width: 100%;
}

.form-box .email-input {
  padding: 16px 5%;
  color: var(--very-dark-blue);
  border: none;
  border-radius: 6px;
  outline: none;
}

.form-box .email-input::placeholder {
  color: var(--grayish-blue);
}

.input-box .error-msg {
  margin: 0;
  font-size: 0em;
  font-weight: bold;
  text-align: left;
  font-style: oblique;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms;
}

.input-box .error-msg.show {
  margin: 8px 0 6px 16px;
  font-size: 0.8em;
  opacity: 1;
  visibility: visible;
}

.input-box .error-icon {
  position: absolute;
  top: 20px;
  right: 16px;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms;
}

.input-box .error-icon.show {
  opacity: 1;
  visibility: visible;
}

.form-box .contact-btn {
  color: white;
  background-color: var(--soft-red);
}

.form-box .contact-btn:hover,
.form-box .contact-btn:focus {
  color: var(--soft-red);
  border-color: var(--soft-red);
  background-color: white;
}

footer {
  padding: 40px 0;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: var(--very-dark-blue);
}

footer .footer-menu {
  line-height: 2.8;
}

.footer-menu .link,
.social-container .link {
  transition: all 300ms;
}

footer .social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-container i {
  font-size: 28px;
}

.footer-menu .link:hover,
.social-container .link:hover {
  color: var(--soft-red);
}

.attribution {
  margin: 16px 0;
  font-size: 16px;
  text-align: center;
  color: var(--very-dark-blue);
}

.a-link {
  color: var(--soft-blue);
}

.a-link-text {
  position: relative;
  padding: 4px 8px;
}

.a-link-text::before {
  content: attr(text-value);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transform: rotate(2deg);
  transition: all 300ms;
}

.a-link:hover .a-link-text::before,
.a-link:focus .a-link-text::before {
  background-color: var(--very-dark-blue);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transform: rotate(-2deg);
}

@media (min-width: 1024px) {
  .nav-bar {
    padding: 0 10%;
    height: 24vh;
  }

  .nav-bar .nav-menu {
    position: initial;
    padding: 0;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--very-dark-blue);
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    z-index: initial;
  }

  .nav-menu li {
    padding: 8px 24px;
    border-top: none;
  }

  .nav-menu .login-box {
    color: white;
    border: 1px solid transparent;
    background-color: var(--soft-red);
    border-radius: 6px;
    transition: all 300ms;
  }

  .nav-menu .login-box:hover {
    color: var(--soft-red);
    border-color: var(--soft-red);
    background-color: white;
  }

  .nav-menu .menu-link {
    font-size: 18px;
    transition: all 300ms;
  }

  .nav-menu .login {
    margin-top: 0;
    padding: 0;
    color: inherit;
    font-weight: 500;
    border: none;
  }

  .nav-menu .menu-link:not(.login):hover {
    color: var(--soft-red);
  }

  .nav-menu .social-box {
    display: none;
  }

  .ham-btn {
    display: none;
  }

  .header-container {
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
  }

  .header-container .image-box {
    width: 50%;
    margin: 0;
  }

  .header-container .text-content {
    padding-right: 4%;
    width: 50%;
  }

  .btn-box {
    width: 64%;
  }

  .features-section {
    padding-left: 8%;
    padding-right: 8%;
  }

  .features-section .paragraph.first {
    margin: 0 auto;
    width: 52%;
  }

  .features-section .features-menu {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: flex;
    border-top: none;
  }

  .features-menu li {
    flex: 1;
  }

  .features-menu li:nth-child(even) {
    border: none;
  }

  .line-btn {
    width: 100%;
  }

  .features-section .f-article {
    display: flex;
    align-items: center;
  }

  .features-section .image-box {
    margin-bottom: 0;
    width: 50%;
  }

  .features-section .image-box .image {
    display: initial;
  }

  .f-article .content {
    padding-left: 6%;
    width: 50%;
    text-align: left;
  }

  .features-section .left-rounded-rectangle {
    left: -22%;
  }

  .features-section .btn.type1 {
    width: 30%;
  }

  .download-section {
    padding-left: 8%;
    padding-right: 8%;
  }

  .download-section .paragraph.first {
    margin-left: auto;
    margin-right: auto;
    width: 52%;
  }

  .download-section .articles-box {
    height: 458px;
    padding: 8px 2%;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .download-section .firefox {
    align-self: center;
  }

  .download-section .opera {
    align-self: flex-end;
  }

  .questions-section {
    padding-left: 8%;
    padding-right: 8%;
  }

  .questions-section .paragraph.first {
    margin: 0 auto;
    width: 52%;
  }

  .questions-section .list-questions {
    margin-left: auto;
    margin-right: auto;
    width: 56%;
  }

  .questions-section .btn {
    width: 14%;
  }

  .email-section {
    padding-left: 8%;
    padding-right: 8%;
  }

  .email-section .title {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .email-section .form-box {
    margin-left: auto;
    margin-right: auto;
    width: 52%;
    display: flex;
    align-items: center;
    gap: 2%;
  }

  .form-box .input-box {
    margin-bottom: 0;
    flex-basis: 68%;
  }

  .form-box .contact-btn {
    width: 32%;
    font-size: 18px;
  }

  footer {
    padding: 0 8%;
    display: flex;
    align-items: center;
  }

  footer .footer-menu {
    margin-left: 6%;
    display: flex;
    align-items: center;
    gap: 28px;
    flex: 1;
    line-height: initial;
  }
}

@keyframes linea-animacion {
  0% {
    -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
